*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    /* hiệu ứng cuộn trang */
    font-family: Arial, Helvetica, sans-serif;/*font chữ không chân*/
}
/* Common */
.clear{
    clear: both; /*vô hiệu hóa đè của float*/
}
 /* overflow: hidden;   TƯƠNG TỰ NHƯ CLEAR */

.row::after{
    content: "";
    display: block;
    clear: both;
}


.text-while{
    color: #fff !important; /*important quyền lực nhất*/
}

.text-center{
    text-align: center !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;    /* width: calc(100%/3); Chia 3 cột */
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.btn{
    text-decoration: none;/*gạch chân*/
    color: #ffffff;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.pull-right{
    float: right !important;
}


/* 
1. vị trí 
2. Kích thước
3. Màu sắc
4. Kiểu dáng(kiểu chữ)
 */

/* Main  */
#main{

}

#heard{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;/*nổi lên trên không bị che đi*/
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li >a{   /*lấy vào thẻ con trực tiếp*/
    color: blanchedalmond;
    text-transform: uppercase;/*Viết hoa*/
}

#nav li a{
    text-decoration: none;
    line-height: 46px;/*áp dụng cho chữ*/
    padding: 0 24px;
    display: block;   /* Ăn theo line-height    */
}

#nav li:hover .subnav {
    display: block;
}

#nav li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);/*Tạo bóng*/
}

#nav .subnav a{
    color: black;
    line-height: 30px;
}

.ti-angle-down{
    font-size: 14px;
}

#heard .mobi-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#heard .mobi-menu-btn,
#heard .search-btn{
    float: right;/*mất tính kế thừa chiều ngang*/
    padding: 0 21px;
    cursor: pointer;
}
#heard .mobi-menu-btn:hover
#heard .search-btn:hover{
    cursor: pointer;
    background-color: red;
}

#heard .mobi-menu-btn:hover .menu-icon{
    color: #000;
}

#heard .mobi-menu-btn:hover{
    background-color: #ccc;
}

#heard .menu-icon,
#heard .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #ffffff;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}

#text-heading{
    font-weight: 500;
    font-size: 24px;
}

#text{
    font-size: 15px;
    margin-top: 25px;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    text-align: center;
    font-weight: 500;/*Độ dày của chữ*/
    font-size: 30px;
    letter-spacing: 4px;/*khoảng cách giữa các chữ*/
}

#content .section-subheading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;/*font chữ nghiêng*/
    opacity: 0.6;/*độ trong suốt*/
    
}


#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;/*justify căn đều 2 bên*/
    line-height: 1.4;/*chỉnh độ cao của 1 dòng*/
}

   
#content .members-name{
    font-size: 15px;
    
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;/*bo góc*/
}

#content .tour{
    background-color: black;
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin-top: -3px;
}

/* PLACES */

.place-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;   
    display: block;
}

.place-img:hover{
    opacity: 0.5;
}



.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    text-align: center;
}

.place-heading{
    font-size: 15px;
    font-weight: 550;

}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
    
}



.btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

/* contact */

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    padding: 10px;
}

.contact-form .form-control{
    padding: 4px;
    border: 1px solid #ccc;
    width: 100%;
}


/* Footer-section */
#footer{

}